{{ template "header" . }}
<div class="container contents">
    <h1>Repo details</h1>
    <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
          <div class="card">
            <div class="card-header"><span id="runner"><i class="fa-solid fa-play"></i></span> Repo details</div>
            <div class="card-body">
                <p class="card-text">Name: <strong id="name"></strong>, runs with clean build: <strong id="clean-build"></strong>. Git repo: <strong id="git-repo"></strong>, build script: <strong id="build-script"></strong>. Last run @<strong id="lastrun-time"></strong>, reason <strong id="lastrun-reason"></strong>, status: <strong id="lastrun-status"></strong>. Build took: <strong id="duration"></strong>.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-header">Triggers</div>
            <div class="card-body">
                <ul class="card-text" id="triggers">
                </ul>
            </div>
          </div>
        </div>
      </div>
    <pre id="repo-details"></pre>

    <h2>Build result</h2>
    <table class="table table-striped table-hover table-dark table-sm" id="last-results"><tbody></tbody></table>
    <code id="last-results"></code>
</div>
{{ template "footer" . }}